.profileContainer {
  display: flex;
  min-height: 100vh;
  background-color: #00000068;
}

.sidebar {
  width: 250px;
  background-color: #0c0c0c;
  border-right: 1px solid #0c0c0c;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.profileImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.imageInput {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  cursor: pointer;
}


.userName {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.navList {
  list-style: none;
  padding: 0;
}

.navItem {
  padding: 15px 0;
  cursor: pointer;
  color: #c3d9ef;
  font-weight: 500;
  text-align: left;
}

.navItem:hover {
  background-color: #0000004e;
}

.mainContent {
  flex: 1;
  padding: 40px;
}

.header {
  font-size: 2rem;
  color: #fafafa;
  margin-bottom: 20px;
}

.card {
  background-color: #0000007f;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  color: #666;
  margin-bottom: 8px;
  display: block;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f99b;
}

.readOnly {
  background-color: #e9ecef;
  color: #555;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.saveButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saveButton:hover {
  background-color: #0056b3;
}

.cancelButton {
  background-color: #e53e3e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancelButton:hover {
  background-color: #c53030;
}

.active {
  font-weight: bold;
  color: #0056b3;
  background-color: #0303035a;
}

.otherSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #555;
}