.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 20px;
}

h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.register-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 450px;
  /* Aumenta el ancho del formulario */
}

.register-form input {
  margin-bottom: 0.5rem;
  padding: 15px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  color: #000;
}

.register-form .input-container {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.register-form span {
  color: #ff0000;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn-register {
  background-color: #008800;
  color: white;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.2rem;
  width: 100%;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-register:hover {
  background-color: #006400;
  transform: scale(1.05);
}

.btn-cancel {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 25px;
  /* Aumenta el tamaño de los botones */
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.2rem;
  /* Aumenta el tamaño del texto en los botones */
  width: 48%;
}

.btn-cancel:hover {
  background-color: #0056b3;
}