.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.recent-logins {
  color: white;
  text-align: left;
  margin-right: 50px;
}

.recent-logins h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.recent-logins p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #a8a8a8;
}

.profile-grid {
  display: flex;
  gap: 20px;
}

.profile-box {
  background: white;
  border-radius: 15px;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.profile-box:hover {
  transform: scale(1.1);
}

.profile-box img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: black;
}

.btn-login {
  background-color: blue;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-login:hover {
  background-color: darkblue;
  transform: scale(1.05);
}

.btn-register {
  background-color: green;
  width: 100%;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-register:hover {
  background-color: darkgreen;
  transform: scale(1.05);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
}