@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* styles/globals.css */
body {
  background-image: url('/hero.jpg');
  /* Asegúrate de que la ruta de la imagen sea correcta */
  background-size: cover;
  /* La imagen cubrirá todo el fondo */
  background-position: center;
  /* Centrar la imagen */
  background-attachment: fixed;
  /* Mantiene la imagen fija durante el scroll */
  background-repeat: no-repeat;
  /* No repetir la imagen */
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  color: #fff;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}