.manizales-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
  min-height: 100vh;
}

.manizales-text {
  max-width: 50%;
  color: white;
}

.manizales-text h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.1;
}

.manizales-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.cont-btn {
  display: flex;
  justify-content: center;
}

.cta-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #ff0066;
  cursor: pointer;
  margin-left: 10px;
  border: 1px solid #000;
  border-radius: 15px;
  font-weight: bold;
}

.cta-button:hover {
  background-color: #d9d9d9;
}

.manizales-image img {
  max-width: 500px;
  border-radius: 20px;
}

.manizales-image:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}